<footer>
    <div class="footer__social-links">
        <ul>
            <li><a href=""><i class="fab fa-github"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fas fa-at"></i></a></li>
        </ul>
        <span>
            &copy; 2021 Ullas Kunder Blog Design All Rights Reserved
        </span>
    </div>
</footer>