<nav class="nav__container">
    <div class="logo">
        @ullaskunder
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create blog</a></li>
    </ul>
</nav>