<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %> 
        <div class="center" style="height: 20vh; display: flex; align-items: center; justify-content: center;">
            <h1>__404__</h1>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>